@import "tailwindcss";

.CircularProgressbar {
  width: 4rem !important;
  overflow: visible;
}

.CircularProgressbar-path {
  stroke: white !important;
  stroke-width: 12px !important;
  filter: drop-shadow(2px 4px 6px white);
}

.CircularProgressbar-trial {
  display: none;
}

.CircularProgressbar-text {
  fill: white !important;
}

.text-shadow-white {
  text-shadow: 0px 0px 15px white;
}
